# データ取得間隔(秒)
EXECUTION_INTERVAL=60

# 全データを取得する間隔(秒)
ALL_DATA_EXECUTION_INTERVAL=43200

# データ取得時のワークディレクトリ
DIRECTORY_PATH="./piyolog_data_google_drive_work"

# データを取得するGoogle DriveのディレクトリID
# !! 取得処理ごとにディレクトリ内のデータが全て削除されます !!
GOOGLE_DRIVE_DIR_ID="1-3jw**************************"

# データ保存先DB情報
PIYOLOG_DATA_DB_HOST="localhost"
PIYOLOG_DATA_DB_DATABASE="piyolog"
PIYOLOG_DATA_DB_USER="docker"
PIYOLOG_DATA_DB_PASSWORD="docker"


PIYOLOG_API_USER_ID=30*********************
PIYOLOG_API_CLIENT_TOKEN=e54**********************

